
#ignore Visual studio
Didache.suo
Didache.Core/obj/Debug/*	
Didache.Core/obj/Debug/*
Didache.Core/bin/*
Didache.Web/obj/Debug/*
Didache.Web/bin/*
Didache.Web/App_Data/*
Didache.Web/setup/*
Didache.Web/uploads/*

Didache.Web/connectionStrings.config
*Copy of*
*.old.*

__DidacheWeb/*

#setup
Setup/*
database/*