@model Forum
@{
	ViewBag.Title = "Forum Threads";
}

@{Html.RenderPartial("CourseHeader"); }

@{Html.RenderPartial("CourseMenu"); }


<table class="forum-threads">
	<thead>
		<tr>
			<th>Subject</th>
			<th>Started</th>
			<th>Last Post</th>
		</tr>
	</thead>
	<tbody>

@foreach (Thread thread in Model.Threads) {
	<tr>
		<th><a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/thread/@thread.ThreadID">@thread.Subject</a></th>
		<td>@thread.ThreadDate </td>
		<td>@thread.LastPostSubject by @thread.LastPostUserName </td>
	</tr>
}