@model List<Forum>
@{
	ViewBag.Title = "Forum";
}

@{Html.RenderPartial("CourseHeader"); }

@{Html.RenderPartial("CourseMenu"); }

@foreach (Forum forum in Model) { 

    <div class="course-forum">
	    <h3><a href="/courses/@ViewContext.RouteData.Values["slug"]/discussion/forum/@forum.ForumID">@forum.Name</a></h3>
	    <span class="forum-description"><p>@forum.Description</p></span>
    </div>

}