@if (User.IsInRole(UserRoles.Administrator) || User.IsInRole(UserRoles.Builder)) {

	<div id="admin-menu" class="side-menu">
		<h3>Administration</h3>
		
		<ul>
			@if (User.IsInRole(UserRoles.Administrator) || User.IsInRole(UserRoles.Builder)) {
			<li><a href="/admin/courses/">Courses</a></li>			
			}
			
			@if (User.IsInRole(UserRoles.Administrator)) {
			<li><a href="/admin/sessions/">Sessions</a></li>
			<li><a href="/admin/campuses/">Campuses</a></li>
			<li><a href="/admin/users/">Users</a></li>
			}
						
		</ul>

	</div>
	
}