<nav id="dts-common-menu">
	<div class="container_12">
		<div class="grid_6">
			<div id="dts-sites">
				<a href="http://my.dts.edu/">MyDTS</a>
				<a href="http://www.dts.edu/">DTS Website</a>
				<a href="http://library.dts.edu/">Library</a>
				<a href="http://bookcenter.dts.edu/">Book Center</a>
				<a href="http://campus.dts.edu/">CampusNet</a>
				<a href="http://alumni.dts.edu/">Alumni</a>				
			</div>
		</div>
		<div class="grid_6">
			<div id="dts-account">				
@if (Request.IsAuthenticated) {	
	<span class="user">@User.Identity.Name</span> <a href="/logout.aspx">Logout</a>
} else {	
	<a href="/loginas.aspx?username=john.locoe">Login</a>
}
							
			</div>
		</div>			
	</div>
</nav>