@{
    ViewBag.Title = "DTS Online Ed";
    
}



@if (Users.GetLoggedInUser() != null) {
	
<div id="dashboard">
    <div class="side">
        <div>
            <h3>Upcoming</h3>
			
			
			@foreach (UserTaskData task in Courses.GetImportantTasksForUser()) {
		    <div class="due-soon">
			    <span class="date">@(task.Task.DueDate.HasValue ? @task.Task.DueDate.Value.ToShortDateString() : "")</span> - @task.Task.Name
		    </div>
   }
			

        </div>
    </div>
    <div class="main">
        <div >
            <h2>What's Happening on MyDTS</h2>
            <ul>
           
            </ul>
        </div>
    </div>
    <div class="side">
        <div>
            <h3>Course Resources</h3>
            <ul>
                <li>Download your term calendar</li>
                <li><span class="icon compressed">Download files from all of your courses</span></li>
            </ul>

            <h3>Online Education Resources</h3>
            <ul>
                <li><span class="icon word">Microsoft Word Compatibility</span></li>
                <li>OpenOffice.org</li>
                <li>Bibliography Software</li>
                <li>Turabian Format Tutorial</li>
            <ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
	
} else {
	
	<h2>Welcome</h2>
	
	<p>This is Dallas Theological Seminary's online education portal. Feel free to check out some classes.</p>
	
	<p>Overview video</p>

}