@model Didache.Course

@{
	ViewBag.Title = Model.CourseCode + Model.Section + " " + Resources.labels.coursetabs_dashboard;
}

@{ Html.RenderPartial("CourseHeader"); }

@{ Html.RenderPartial("CourseMenu"); }

<div id="main-column">
    <div class="block-list-header"><h3>Upcoming...</h3></div>
    <div class="block-list">
        @foreach (Didache.Unit unit in Model.Units) {
	        <div class="block-list-item">
		        <h5>@unit.SortOrder. @unit.Name</h5>
		        <ol>
		        @foreach (Task task in unit.Tasks) {
			        <li>
				        @task.Name
			        </li>
                }
		        </ol>	
	        </div>
        }
    </div>
</div>