@{
	ViewBag.Title = Model.CourseCode + Model.Section + " " + Resources.labels.coursetabs_files;
}


@{Html.RenderPartial("CourseHeader"); }

@{ Html.RenderPartial("CourseMenu"); }

<div id="main-column">
    <div class="block-list-header"><h3>Course Files</h3></div>
	<div id="course-roster" class="block-list">

	@foreach (CourseFileGroup group in ViewBag.CourseFileGroups) {
		<div class="course-filegroup block-list-item">
			<div class="block-list-item-label"><span>@group.Name</span></div>
			<ul class="course-filegroup-files">
				@foreach (CourseFileAssociation courseFileAssociation in group.CourseFileAssociations) {				
					<li>
                        <a class="file-@courseFileAssociation.CourseFile.FileType" href="@courseFileAssociation.CourseFile.FileUrl">
                            <span class="filename">@courseFileAssociation.CourseFile.Title</span>
                            <span class="type"><img src="/css/images/@(courseFileAssociation.CourseFile.FileType).png" /></span>
                            <span class="size">@courseFileAssociation.CourseFile.FormattedLength</span>
                        </a>
                    </li>

				}
			</ul>
		</div>
	}

	</div>
</div>

<div id="sub-column">
	<div id="all-downloads" class="header"><h4><a href="/courses/downloadall/@Model.Slug-Files.zip">Download all files</a></h4></div>
</div>
