@{
	ViewBag.Title = Model.CourseCode + Model.Section + " " + Resources.labels.coursetabs_files;
}


@{Html.RenderPartial("CourseHeader"); }

@{ Html.RenderPartial("CourseMenu"); }

<div id="main-column">
    <div class="block-list-header"><h3>Course Files</h3></div>
	<div id="course-roster" class="block-list">

	@foreach (CourseFileGroup group in ViewBag.CourseFileGroups) {
		<div class="course-filegroup block-list-item">
			<div class="block-list-item-label"><span>@group.Name</span></div>
			<div class="course-filegroup-files">
				@foreach (CourseFileAssociation courseFileAssociation in group.CourseFileAssociations) {				
					<a class="file-@courseFileAssociation.CourseFile.FileType" href="@courseFileAssociation.CourseFile.FileUrl">@courseFileAssociation.CourseFile.Title</a> @courseFileAssociation.CourseFile.FormattedLength<br />
				}
            <div class="clear"></div>
			</div>
		</div>
	}

	</div>
</div>

<div id="sub-column">
	<a href="/courses/downloadall/@Model.Slug-Files.zip">Download all files</a>
</div>
