@model List<Didache.Course>

@{
	ViewBag.Title = Resources.labels.coursemenu_archived_courses;
}

<h2>Index</h2>

<ul>
@foreach (Course course in Model) {
	<li><a href="/courses/@course.Slug">@course.CourseCode</a> (@course.Session.Name)</li>
}
</ul>