@model List<Didache.Course>

@{
	ViewBag.Title = Resources.labels.coursemenu_archived_courses;
}

<div id="main-column">
    <div class="block-list-header"><h3>Archived Courses</h3></div>
    <div class="block-list">
            @foreach (Session session in Didache.Sessions.GetSessions())
            {
                if (Model.Find(delegate(Course course) { return course.SessionID == session.SessionID; }) != null)
                {
	                <div class="block-list-item">
                        <div class="block-list-item-label">
                            <span>@session.SessionCode</span>
                        </div>
                        <h2>
                            <span>@session.Name</span>
                        </h2>

                        <ul class="course-archive">
                            @foreach (Course course in Model)
                            {
                                if (course.SessionID == session.SessionID)
                                {
	                                <li>
                                        <a href="/courses/@course.Slug"><h4>@course.CourseCode - @course.Name</h4></a>
                                    </li>
                                }
                            }
                        </ul>

                        <div class="clear"></div>
	                </div>
                } 
            }
    </div>
</div>
