@model Course

@{
    ViewBag.Title = Model.CourseCode + Model.Section + " " + Resources.labels.coursetabs_roster;
}

@{ Html.RenderPartial("CourseHeader"); }

@{ Html.RenderPartial("CourseMenu"); }

<div id="main-column">
    <div class="block-list-header"><h3>Course Roster</h3></div>
	<div id="course-roster" class="block-list">

	@foreach (Didache.CourseUserGroup group in ViewBag.UserGroups) {
		<div class="course-group block-list-item">
			<div class="block-list-item-label"><span>@group.Name</span></div>
			<div class="course-group-members">
			@foreach (CourseUser user in group.Students) {
				if (user.User != null) {
				<a class="course-group-member" href="@user.User.ProfileDisplayUrl">				
					<img src="@user.User.ProfileImageUrl" /><br />
					<span>@user.User.FormattedName</span>
				</a>
				}
			}
            <div class="clear"></div>
			</div>
		</div>
	}

	</div>
</div>

