/* ADMIN */
.admin-list {
	border-collapse: collapse;
	padding-bottom: 10px;
	border-bottom: 5px solid #CCC;
}
.admin-list td, .admin-list th{
	padding: 4px;
}
.admin-list thead th{
	background: #333;
	color: #eee;
	padding: 6px 4px;
}