/* ADMIN */
.admin {
}
    .admin-list {
	    border-collapse: collapse;
	    padding-bottom: 10px;
	    border-bottom: 5px solid #CCC;
    }

    .admin-list td, .admin-list th {
	    padding: 4px;
    }

    .admin-list thead th {
	    background: #333;
	    color: #eee;
	    padding: 6px 4px;
    }

    .admin tbody tr:nth-child(odd) {
        background: #EEE;
    }

    .admin .editor-label {
	    float: left;
        width: 175px;
	    text-align: right;
	    vertical-align: bottom;
	    font-weight: bold;
	    font-size: 90%;
	    padding: 5px 10px 0 0;
    }

    .admin .editor-field {
        padding: 0 0 5px 0;
    }


    .admin input[type=text] {
	    /* border: 1px solid #ccc; */
	    width: 200px;
	    height: 18px;
    }

    .admin input[type=checkbox] {
	    margin: 0;
	    vertical-align: bottom;
    }

    .admin .field-validation-error {
        color: #cd0a0a;
    }

    .admin .submit {
	    padding: 10px 0 0 185px;
        text-align: left;
    }

    .admin .back-to-list {
        padding: 30px 0 0 0;
    }
    
    
/* nested lists for course, files, users */

#dialog-container {
	margin: 20px;
}

.drag-handle {
	display: inline-block;
	cursor: move;
		
	background: #FF0000;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		    border-radius: 3px;
	width: 24px;
	height: 24px;	
}

.nested-list {
}
	.nested-item {
		border: solid 1px #333;
	}
		.nested-item-row {
			background: #bbb;
			padding: 5px;
			overflow:hidden;
		}
	
		.nested-child-list {
			margin: 0 0 0 30px;
			border: solid 1px #333;
			border-width: 1px 0 0 1px;
			-webkit-border-radius: 4px 0 0 0;
			   -moz-border-radius: 4px 0 0 0;
					border-radius: 4px 0 0 0;			
		}
			.nested-child-item {
				padding: 5px;
				overflow:hidden;
			}
			.nested-child-item:nth-child(odd) {
				background: #eee;
			}
.edit-link, .delete-link {
	float: right;
	padding: 5px;
	margin: 0 0 0 5px;
	display: inline-block;
	border: solid 1px #666;
	background: #fff;
	text-decoration: none;
	color: #555;
}

.delete-link {
	color: #ff0000;
}

.nested-list input {
	border-color: transparent;
	background-color: transparent;
}
.nested-list input:hover, .nested-list input:focus {
	border-color: #333;
	background-color: #fff;
}



#dialog iframe {
	width: 99%;
	height: 99%;
	border: 0;
	padding: 0;
	margin: 0;
}

/* admin tables */
.admin-form {
}

.admin-form th{
	text-align: right;
	padding: 0 10px 0;
}