/** Forms **/

#edit form 
{
    min-width: 300px;
    max-width: 600px;
    padding: 10px;
    background: #EEE;
    border: 1px solid #CCC;
    margin-bottom: 20px;
}
#edit .editor-field {
    display: inline-block;
    margin-bottom: 15px;
}
#edit .editor-field input {
    font-size: 14px;
    padding: 3px;
}
#edit .editor-field input[type="text"] 
{
    margin-right: 5px;
}
#edit .editor-field.textarea {
    width: 100%;
    display: block;
    clear: both;
}

#edit .editor-field textarea {
    width: 96%;
    height: 150px;
    padding: 5px;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
}