body {
	background: #fff;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.clear {
	clear: both;
}

a {
    color: #2F668F;
    text-decoration: none;
}
/* Common menu */
#common-menu {
	background: #333;
	border-bottom: 1px solid #222;
}
#common-wrapper {
	width: 1000px;
	margin: 0 auto;
	height: 28px;
}
#common-wrapper a, #common-wrapper span {
	color: #eee;
	display: inline-block;
	padding: 6px 6px;
	height: 16px;
	font-size: 12px;
	text-decoration: none;
	vertical-align: middle;
}
#common-wrapper a:hover {
	background: #666;
}
#common-wrapper a.selected {
	color: #fff;
	font-weight: bold;
	border-top: solid 2px #5e98ca;
	padding-top: 4px;
}
#site-list {
	float: left;
}
#account-info {
	float: right;
}

/* site header (gray area) */
#site-header {
	padding: 10px 0;
	background: #F1F2F4;
	border-bottom: solid 1px #d2d2d2;	
	
}
#site-header .logo {
	float: left;
}
#site-header .user-settings {
	float: right;
}
#site-header .user-settings form {
	display: inline-block;
	padding: 10px 0 0 0;
}
#site-footer {
	clear: both;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
	width: 1000px;
}


/* main columns */
#main {
	width: 1000px;
	margin: 0 auto 20px auto;
}
#main-menu {
	width: 180px;
	float: left;
}
#main-content {
	width: 800px;
	float: right;
}

/* 
	for schedule-type pages with a large top menu 
	has an outer border
*/
.page-wide {
	border: solid 1px #ccc;
	border-width: 0 1px 1px 1px;
	
}
.page-wide.page-split {
	background: url(/css/images/page-wide-bg.png) 0 85px repeat-y;
}
.page-wide .main-column {
	padding: 20px;
	float: left;
	width: 580px;
	min-height: 600px;
}
.page-wide .sub-column {
	float: right;
	width: 177px;
	border-left: solid 1px #ccc;
	background: #f7f7f7; /* #F1F2F4; */
}
/* used when you don't need a main & sub */
.page-wide .full-column {
	padding: 20px;
	min-height: 600px;
}


/* 
	for three column pages where the center needs to be enclosed with lines
	side column floats
*/
.page-narrow {
	/* no styles needed */
}
.page-narrow .main-column {
	float: left;
	width: 558px;
	padding: 20px;
	border: solid 1px #ccc;
	border-width: 0 1px 1px 1px;
	min-height: 600px;	
}
.page-narrow .sub-column {
	float: right;
	margin: 20px 0 0 0;
	width: 180px;
}

.page-narrow .sub-column h3 {
	color: #484848;
	font-size: 11px;
	font-weight: bold;	
	border-bottom: 1px solid #EBEBEB;
	margin: 8px 0 ;
	padding-bottom: 6px;
}
.page-narrow .sub-column ul {
	margin: 0 0 20px 0;
}
.page-narrow .sub-column ul li {
	margin: 4px 0;
}
.page-narrow .sub-column ul li a:hover{
	text-decoration: underline;
}



/* main left menu */

#profile-large {
	margin: 20px 0 0 0;
}

#profile-large img {
	width: 180px;
}

#user-profile {
	margin: 20px 0 30px 0 ;
}
#user-profile a {
	display: block;	
	height: 60px;
	width: 180px;
	line-height: 1;
	color: #000;
	text-decoration: none;	
	overflow: hidden;
}
#user-profile img {
	float: left;
	width: 60px;
}
#user-profile span.name {
	float: left;
	margin: 15px 0 0 10px;
	width: 110px;
	font-size: 14px;
	display: block;
}
#user-profile a:hover span.name {
	text-decoration: underline;
}
#user-profile span.title {
	float: left;
	margin: 4px 0 0 10px;
	width: 110px;
	font-size: 12px;
	font-weight: normal;
	display: block;
}

.side-menu {
	margin: 20px 0 0 0;
}
.side-menu h3 {
	font-weight: normal;
	color: #333;
	font-size: 14px;
	margin: 0 0 4px 0;
}
.side-menu ul, .side-menu ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.side-menu ul li a {
	display: block;
	padding: 4px 4px 4px 20px;
}
.side-menu ul li a {
	display: block;
	padding: 4px 4px 4px 20px;
	color: #333;
	text-decoration: none;	
}
.side-menu ul li a:hover {
	background: #eee;
}
.side-menu ul li.selected a {
	color: #5e98ca;
	font-weight: bold;
}


/* main (middle and right) elements */
.page-header {
	position: relative;
}
.page-header .actions {
	position: absolute;
	top: 0;
	right: 20px;
}
.page-wide .page-header {
	padding: 20px 20px 20px 20px;
	background: #FFF;
}
.page-narrow .page-header {
	padding: 0 0 20px 20px;
	margin: 0 -20px 20px -20px;
	border-bottom: solid 1px #ddd;
}
.page-header h2 {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 20px;	
}
.page-header h3 {
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 16px;
}

.page-menu {
	background: #f1f2f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 32px;
	padding: 0px;
	list-style-type: none;
	margin: 0;
}
.page-menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	float: left;
}
.page-menu li a {
	display: block;
	color: #888;
	height: 12px;
	font-size: 12px;
	padding: 10px;
	text-decoration: none;
	margin: 0 0 0 0;
}
.page-menu li a:hover{
	background: #999;
	color: #fff;
	-x-text-shadow: 0 1px 0 #adadad;
}
.page-menu li a.selected {
	background: #444;
	color: #fff;
	font-weight: bold;
	-x-box-shadow: #111 0 2px 3px inset;
}
/* TODO: magical popup? */
.page-menu li a dfn {
	display: none;
}

.sub-column .header, .sub-column .list {
    padding: 20px 10px 10px 5px;
}




/* buttons */
.d-button, a.d-button {
	display: inline-block;
	line-height: 1;
	-x-height: 14px;
	font-size: 11px;
	font-weight: bold;
	padding: 10px;
	background: #eee;
	border: solid 1px #ddd;
	border-radius: 2px;
}
.d-button:hover, a.d-button:hover {
	border-color: #ccc;
	box-shadow: rgba(50,50,50,0.2) 0 2px 1px;
}
.d-button.action, a.d-button.action {
	background: #59b14d;
	border-color: #59b14d;
	color: #fff;
}
.d-button.action:hover, a.d-button.action:hover {
	border-color: #197d3f;
}
.d-button.edit, a.d-button.edit {
	background: #5e98ca;
	border-color: #5e98ca;
	color: #fff;
}
.d-button.edit, a.d-button.edit:hover {
	border-color: #477eaa;
}


/* update list */
.activity {
	padding: 10px 0;
	border-bottom: solid 1px #ccc;
	clear: both;
	overflow: hidden;
}
	.activity .activity-user-image {
		width: 60px;
		height: 60px;
		float: left;
	}
	.activity .activity-info {
		float: left;
		width: 400px;
		margin: 0 0 0 20px;
	}
	
	
/* proifile */
.user-profile {
	font-size: 13px;
	line-height: 15px;
	width: 500px;
}
.user-profile th, .user-profile td {
	padding: 5px;
	vertical-align: top;
}
.user-profile th{
	width: 100px;
	text-align: right;
	color: #999;
}
.user-profile td{
	color: #222;
}