dirtyhtml[lang=ar] {
	direction: rtl;
}
body {
	background: #fff;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.clear {
	clear: both;
}

a {
    color: #2F668F;
    text-decoration: none;
}
/* Common menu */
#common-menu {
	background: #333;
	border-bottom: 1px solid #222;
}
#common-wrapper {
	width: 1000px;
	margin: 0 auto;
	height: 28px;
}
#common-wrapper a, #common-wrapper span {
	color: #eee;
	display: inline-block;
	padding: 6px 6px;
	height: 16px;
	font-size: 12px;
	text-decoration: none;
	vertical-align: middle;
}
#common-wrapper a:hover {
	background: #666;
}
#common-wrapper a.selected {
	color: #fff;
	font-weight: bold;
	border-top: solid 2px #5e98ca;
	padding-top: 4px;
}
#site-list {
	float: left;
}
#account-info {
	float: right;
}

/* site header (gray area) */
#site-header {
	padding: 10px 0;
	background: #F1F2F4;
	border-bottom: solid 1px #d2d2d2;	
	
}
#site-header .logo {
	float: left;
}
#site-header .user-settings {
	float: right;
}
#site-header .user-settings form {
	display: inline-block;
	padding: 0;
	margin-top: 10px;
	
}

#header-search {
	margin: 0 10px 0 0;
}
#header-search input[type=search] {
	width: 250px;
	border: 1px solid #CCC;
    border-radius: 2px;
    height: 34px;
    -webkit-appearance: textfield;    
    padding: 0 10px;
}
#site-footer {
	clear: both;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
	width: 1000px;
}
#site-header .user-settings #language-wrapper {
    width: 200px;
    background: #FFF url(images/select-arrow.jpg) 180px 5px no-repeat;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 2px;
    height: 28px;
}
select#language {
    width: 200px;
    border: none;
    padding: 5px;
    background: transparent;
	-webkit-appearance: textfield;
}


/* Breadcrumbs */
 
#breadcrumbs {
    background: url(images/breadcrumb-home.jpg) left no-repeat;
    font-size: 12px;
    line-height: 12px;
    padding: 2px 0 2px 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    clear: both;
}

/* main columns */
#main {
	width: 1000px;
	margin: 0 auto 20px auto;
}
#main-menu {
	width: 180px;
	float: left;
	padding: 20px 0;
}
#main-content {
	width: 800px;
	float: right;
}
.main-column, #main-column {
	padding: 20px;
}

/* 
	for schedule-type pages with a large top menu 
	has an outer border
*/
.page-wide {
	border: solid 1px #ccc;
	border-width: 0 1px 1px 1px;
	
}
.page-wide.page-split {
	background: url(/css/images/page-wide-bg.png) 0 85px repeat-y;
}
.page-wide .main-column {
	float: left;
	width: 580px;
	min-height: 600px;
}
.page-wide .sub-column {
	float: right;
	width: 177px;
	-x-border-left: solid 1px #ccc;
	background: #f7f7f7; /* #F1F2F4; */
}
/* used when you don't need a main & sub */
.page-wide .full-column {
	padding: 20px;
	min-height: 600px;
}
.page-wide .full-column .page-header {
	padding: 0 20px 20px 20px;
	margin: 0 -20px 20px -20px;
	border-bottom: solid 1px #ccc;
}
.page-wide .full-column .page-menu {
	margin: 0 -20px 20px -20px;
	border-bottom: solid 1px #ccc;
}

.full-column h3, .main-column h3 {
	margin: 20px 0 10px;
}


/* 
	for three column pages where the center needs to be enclosed with lines
	side column floats
*/
.page-narrow {
	/* no styles needed */
}
.page-narrow .main-column {
	float: left;
	width: 558px;
	padding: 20px;
	border: solid 1px #ccc;
	border-width: 0 1px 1px 1px;
	min-height: 600px;	
}
.page-narrow .sub-column {
	float: right;
	margin: 20px 0 0 0;
	width: 180px;
}

.page-narrow .sub-column h3 {
	color: #484848;
	font-size: 11px;
	font-weight: bold;	
	border-bottom: 1px solid #EBEBEB;
	margin: 8px 0 ;
	padding-bottom: 6px;
}
.page-narrow .sub-column ul {
	margin: 0 0 20px 0;
}
.page-narrow .sub-column ul li {
	margin: 4px 0;
}
.page-narrow .sub-column ul li a:hover{
	text-decoration: underline;
}



/* main left menu */

#profile-large {
	margin: 0 0 20px;
}

#profile-large img {
	width: 180px;
}

#user-profile {
	margin: 0 0 30px;
}
#user-profile a {
	display: block;	
	height: 60px;
	width: 180px;
	line-height: 1;
	color: #000;
	text-decoration: none;	
	overflow: hidden;
}
#user-profile img {
	float: left;
	width: 60px;
}
#user-profile span.name {
	float: left;
	margin: 15px 0 0 10px;
	width: 110px;
	font-size: 14px;
	display: block;
}
#user-profile a:hover span.name {
	text-decoration: underline;
}
#user-profile span.title {
	float: left;
	margin: 4px 0 0 10px;
	width: 110px;
	font-size: 12px;
	font-weight: normal;
	display: block;
}

.side-menu {
	margin: 0 0 20px;
}
.side-menu h3 {
	font-weight: normal;
	color: #333;
	font-size: 14px;
	margin: 0 0 4px 0;
}
.side-menu ul, .side-menu ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.side-menu ul li a {
	display: block;
	padding: 4px 4px 4px 20px;
}
.side-menu ul li a {
	display: block;
	padding: 4px 4px 4px 20px;
	color: #333;
	text-decoration: none;	
}
.side-menu ul li a:hover {
	background: #eee;
}
.side-menu ul li.selected a {
	color: #5e98ca;
	font-weight: bold;
}


/* main (middle and right) elements */
.page-header {
	position: relative;
}
.page-header .actions {
	position: absolute;
	top: 0;
	right: 20px;
}
.page-wide .page-header {
	padding: 20px 20px 20px 20px;
	background: #FFF;
}
.page-narrow .page-header {
	padding: 0 0 20px 20px;
	margin: 0 -20px 20px -20px;
	border-bottom: solid 1px #ddd;
}
.page-header h2 {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 20px;	
}
.page-header h3 {
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 16px;
}

.page-menu {
	background: #f1f2f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 32px;
	padding: 0px;
	list-style-type: none;
	margin: 0;
}
.page-menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	float: left;
	position: relative;
}
.page-menu li a {
	display: block;
	color: #888;
	height: 12px;
	font-size: 12px;
	padding: 10px;
	text-decoration: none;
	margin: 0 0 0 0;
}
.page-menu li a:hover{
	background: #999;
	color: #fff;
	-x-text-shadow: 0 1px 0 #adadad;
}
.page-menu li a.selected {
	background: #444;
	color: #fff;
	font-weight: bold;
	-x-box-shadow: #111 0 2px 3px inset;
}
/* TODO: magical popup? */
.page-menu li a dfn {
	display: none;
}
.page-menu li .notification {
	width: 15px;
	height: 15px;
	text-align: center;
	position: absolute;
	top: -5px;
	right: -5px;
	color: #fff;
	background: #f00;
	border: solid 1px #fff;
	border-radius: 50%;
	box-shadow: rgba(0,0,0,0.5) 0 0 2px;
	z-index: 100;
	font-weight: bold;
	font-size: 10px;
}

.sub-column .header, .sub-column .list {
    padding: 20px 10px 10px 5px;
}




/* buttons */
.d-button, a.d-button {
	display: inline-block;
	line-height: 1;
	-x-height: 14px;
	font-size: 11px;
	font-weight: bold;
	padding: 8px 10px;
	background: #eee;
	min-width: 50px;
	text-align: center;
	border: solid 1px #ddd;
	border-radius: 2px;
	color: #333;
	cursor: pointer;
}
.d-button:hover, a.d-button:hover {
	border-color: #ccc;
	box-shadow: rgba(50,50,50,0.2) 0 1px 1px;
}
.d-button.action, a.d-button.action {
	background: #59b14d;
	border-color: #59b14d;
	color: #fff;
}
.d-button.action:hover, a.d-button.action:hover {
	border-color: #197d3f;
}
.d-button.edit, a.d-button.edit {
	background: #5e98ca;
	border-color: #5e98ca;
	color: #fff;
}
.d-button.edit, a.d-button.edit:hover {
	border-color: #477eaa;
}
.d-button.small {
	font-size: 10px;
	padding: 5px;
}

/* update list */
.activity {
	padding: 10px 0;
	border-bottom: solid 1px #ccc;
	clear: both;
	overflow: hidden;
}
	.activity .activity-user-image {
		width: 60px;
		height: 60px;
		float: left;
	}
	.activity .activity-info {
		float: left;
		width: 400px;
		margin: 0 0 0 20px;
	}
	
	
/* proifile */
.user-profile {
	font-size: 13px;
	line-height: 15px;
	width: 550px;
	margin: 0 0 20px 0;
}
.user-profile th, .user-profile td {
	padding: 5px;
	vertical-align: top;
}
.user-profile th{
	width: 100px;
	text-align: right;
	color: #999;
}
.user-profile td{
	color: #222;
}
.user-profile td.security-setting {
	width: 100px;
}
.user-profile td textarea  {
	resize: none;
	width: 400px;
	height: 100px;
	font-family: Arial, Sans-Serif;
}

.user-profile td input[type=text]  {
	width: 300px;
}
.profile-constituencies {
	margin: 0 0 10px;
}

.profile-constituency {
	display: inline-block;
	border: solid 1px #bbb;
	background: #eee;
	padding: 2px 5px;
	font-size: 12px;
	margin: 0 5px 0 0;
}
.user-profile .example {
	font-size: 10px;
	font-style: italic;
	color: #666;
}

#edit-profile .sub-column label {
    color: transparent;
    width: 0;
    height: 0;
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
}
#edit-profile .sub-column input {
    padding-left: 20px;
    height: 18px;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-bottom: 10px;
}
#edit-profile .sub-column input#Facebook {
    background: url(images/icons/revFacebookBadge.gif) 2px 2px no-repeat;
    background-size: 16px 16px;
}
#edit-profile .sub-column input#Twitter {
    background: url(images/icons/twitter-badge.png) 2px 2px no-repeat;
    background-size: 16px 16px;
}
#edit-profile .sub-column input#Website {
    background: url(images/icons/globe.png) 2px 2px no-repeat;
    background-size: 16px 16px;
}
#edit-profile .sub-column input.text-box {
    width: 80%;
    display: inline-block;   
}

#user-message {
	position: fixed;
	top: 40px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	padding: 8px;
	text-align: center;
	background: #F4F43D;
	border: solid 1px #E0C79F;
}


.sub-column-padding {
	padding: 10px;
}
.sub-column-padding p {
	font-size: 12px;
}


/* dashboards */
.course-dashboard{
}
.course-dashboard h3 {
	font-size: 13px;
	font-weight: bold;
	color: #333;
	border-bottom: solid 1px #333;
	padding: 0 0 4px 0;
}

.course-dashboard-info {
	width: 320px;
	float: left;
}
	.course-dashboard-downloads {
		margin: 0 0 20px 0;
	}
	.course-dashboard-assignments {
		margin: 0 0 20px 0;
	}
	.course-dashboard-assignments .assignment {
		overflow: hidden;
		position: relative;
		margin: 0 0 10px 0;
	}		
	.course-dashboard-assignments .due-date {
		display: block;
		position: absolute;
		top: 0;
		right: 0;		
		width: 80px;
		color: #aaa; /* #5E98CA; */
		text-align: right;
	}
	.course-dashboard-assignments .overdue {		
		color: #BD1816;
	}
	.course-dashboard-assignments .name {
		display: block;		
		width: 200px;
		color: #444;		
		font-weight: bold;
	}	
	.course-dashboard-assignments .description {
		display: block;		
		width: 320px;
		color: #444;		
		height: 14px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}					

.course-dashboard-people {
	width: 200px;
	float: right;
	padding: 0 10px;
	background: #f7f7f7;
}
	.user-list-large, .user-list-small {
		clear: both;
		margin: 10px -10px 10px 0 ;
	}

	.user-list-large .user {
		height: 40px;
		margin: 0 10px 10px 0;
	}
	.user-list-large .user a {
		display: block;
	}	
	.user-list-large .user a {
		display: block;
		overflow: hidden;
	}	
	.user-list-large .user a img {
		width: 40px;
		height: 40px;
		margin: 0 10px 0 0;
		float: left;
	}	
	.user-list-large .user a span {
		width: 140px;
		height: 20px;
		margin: 14px 0 0 0;
		float: left;
		color: #777;
	}				
	
	.user-list-small .user {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 8px 8px 0;
	}

.home-dashboard {
	
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
}
	
.home-dashboard h2 {
	background: #F1F2F4;
	padding: 20px;
	margin: 0 -20px 10px -20px;
}
.home-dashboard h2 a {
	color: #111111;
}


/* sidebars */
.course-sidebar {
}
.course-sidebar-homeheader {
	background: #eee;
	border: solid 1px #ddd; 
	border-width: 1px 1px 1px 0; 
	margin: 0 0 0 -21px; 
	padding: 5px 5px 5px 20px;
}
	.course-sidebar-homeheader a {
		color: #333;
		font-weight: bold;
	}
.course-sidebar h3 {
	font-size: 13px;
	font-weight: bold;
	color: #999;
	border-bottom: solid 1px #999;
	padding: 5px 0 4px 0;
}

	.course-sidebar-downloads {
		margin: 0 0 20px 0;
	}
	.course-sidebar-assignments {
		margin: 0 0 20px 0;
	}
	.course-sidebar-assignments .assignment {
		overflow: hidden;
		position: relative;
		margin: 0 0 10px 0;
	}		
	.course-sidebar-assignments .due-date {
		display: block;
		position: absolute;
		top: 0;
		right: 0;		
		width: 80px;
		
		color: #aaa; /* #5E98CA; */
		text-align: right;
	}
	.course-sidebar-assignments .overdue {		
		color: #BD1816;
	}
	.course-sidebar-assignments .name {
		display: block;		
		width: 100px;
		color: #444;		
		font-weight: bold;
		height: 14px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}	
	.course-sidebar-assignments .description {
		display: block;		
		width: 150px;
		color: #444;		
		height: 14px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}					

.course-sidebar-people {
	width: 200px;
	float: right;
	padding: 0 10px;
	background: #f7f7f7;
}
	.user-list-large, .user-list-small {
		clear: both;
		margin: 10px -10px 10px 0 ;
	}
			
	.user-list-small .user {
		float: left;
		width: 30px;
		height: 30px;
		margin: 0 8px 8px 0;
	}

.home-sidebar {
	
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
}
	
.home-sidebar h2 {
	background: #F1F2F4;
	padding: 20px;
	margin: 0 -20px 10px -20px;
}
.home-sidebar h2 a {
	color: #111111;
}

/* grading */
.grading-list {
	margin: 0 0 5px 0;
	border-collapse: collapse;
	min-width: 400px;
}
.grading-list td {
	border: solid 1px #666;
	padding: 3px;
}
.grading-list tr:nth-child(odd) {
	background: #f7f7f7;
}
.grading-list thead th {
	text-align: left;
	background: #333;
	border: solid 1px 333;
	color: #fff;
	padding: 4px 6px;
	font-weight: bold;
}
.grading-list tr.dirty {
	background: #ce8484;
}

.task-grading-list .name {
	width: 400px;
}
.task-grading-list .download-files {
	width: 100px;
}
.task-grading-list .download-files a{
	white-space: nowrap;
}

.enter-grades .name {
	width: 200px;
}
.enter-grades .student-info {
	width: 150px;
}

.enter-grades .grader-file {
	width: 200px;
}

.enter-grades .grade {
	width: 70px;
}
.enter-grades .send {
	width: 100px;
}

	
	
.user-unit-grades .complete {
	width: 20px;
}
.user-unit-grades .name {
	width: 300px;
}
.user-unit-grades .completion {
	width: 150px;
}
.user-unit-grades .grade {
	width: 50px;
}
.user-unit-grades .student-file {
	width: 100px;
}
.user-unit-grades .overdue {
	color: red;
}


/* student submissions */
.input-validation-error {
	background: #f2a9a9;
}


.account-box {
	width: 280px;
	margin: 20px auto;
	background: #eee;
	padding: 20px 40px;
	border: solid 1px #999;
	overflow: hidden;
}
	.account-box label {
		font-size: 15px;
	}
	.account-box input[type=text], .account-box input[type=password] {
		font-size: 16px;
		padding: 4px;
		border: solid 1px #999;
		margin: 0 0 10px;
		width: 270px;
	}
	.login-buttons {
		overflow: hidden;
		margin: 0 0 10px 0;
	}
	.login-remember {
		margin: 5px 0 0 0;
		float: left;
	}
	.login-box #submit {
		float: right;
		width: 90px;
	}
	
	.field-validation-error {
		background: #f2a9a9;
		border: solid 1px #bd1816;	
		color: #bd1816;
	}

	.validation-summary-errors {
		width: 280px;
		margin: 20px auto;
		background: #f2a9a9;
		padding: 20px 40px;
		border: solid 1px #bd1816;
		overflow: hidden;	
		color: #bd1816;
	}

	.login-message {
		width: 300px;
		padding: 15px;
		margin: 40px auto 0;
	}
	
/* Messages */
.message-warning, .message-error, .message-success, .message-info {
	padding: 8px;
	margin: 10px 0;
}

.message-warning {
	background: #F4F43D;
	border: solid 1px #E0C79F;
	-x-color: #E0C79F;
}	
.message-error {
	background: #ff8282;
	border: solid 1px #b70000;
	color: #b70000;
}	
.message-success {
	background: #F4F43D;
	border: solid 1px #E0C79F;
	color: #E0C79F;
}	
.message-info {
	background: #F4F43D;
	border: solid 1px #E0C79F;
	color: #E0C79F;
}	


/* community stuff */
.relationship-status {
	display: inline-block;
	background: #eee;
	padding: 4px 6px;
	border: solid 1px #999;
	line-height: 1;
	font-size: 11px;
}

/* POSTS */

/* post input */
.user-post-input {
	background: #fff;
	border: solid 1px #ddd;
}
.user-post-input #user-post-text {
	border: 0;
	width: 540px;
	font-family: Helvetica, Arial;
	margin: 8px;
	resize: none;
	outline: none;
}
.user-post-input .user-post-options {
	background: #ddd;
	position: relative;
	height: 30px;
	text-align: right;
	padding: 5px;
}
.user-post-input #user-post-visibility {
	/*position: absolute;
	top: 7px;
	right: 70px;
	
*/	
	height: 26px;
	diplay: inline-block;
}
.user-post-input #user-post-button {
	/*
	position: absolute;
	top: 5px;
	right: 5px;
	*/
	diplay: inline-block;
}

/* post list */
.user-posts {
	overflow: hidden;
	margin: 0 -20px;
}
.user-post {
	overflow: hidden;
	border-top: solid 1px #ccc;
	padding: 20px 20px 20px 80px;
	position: relative;
}
.user-post .delete-post, .user-post .delete-comment{
	position: absolute;
	top: 20px;
	right: 0;
	height: 14px;
	width: 14px;
	color: #ccc;
	border: solid 1px #ccc;
	text-align: center;
	cursor: pointer;
	font-size: 10px;
}

.user-post .delete-comment{
	top: 6px;
}
.user-post .delete-post:hover, .user-post .delete-comment:hover {
	background: pink;
	color: Red;
	border-color: Red;
}
.user-post .post-author {
	font-weight: bold;
}
.user-post .post-author:hover {
	text-decoration:underline;
}
.user-post .post-author img {
	position: absolute;
	top: 20px;
	left: 20px;
}
.user-post .post-type {
	color: #777;
	font-size: 12px;
}
.user-post .post-type a {
	color: #777;
}
.user-post .post-type a:hover {
	text-decoration: underline;
}
.user-post .post-content {
	float: left;
	width: 470px;
	font-size: 13px;
	line-height: 1.4;
}
.user-post .post-text {
	margin: 5px 0;
}

.user-post .post-text ul, .user-post .post-text ol {
	margin: 1em 0 1em 2em;
}

.user-post .post-text ol li {
	padding: 0 0 0 0;
	list-style-type: decimal;
}
.user-post .post-text ul li {
	padding: 0 0 0 0;
	list-style-type: disc;
}


.user-post .post-footer {
	color: #999;
	font-size: 12px;
}
.user-post .post-date a{
	color: #999;
}
.user-post .post-date a:hover{
	text-decoration: underline;
}

.post-comments {
	cursor: pointer;
}
.post-comments:hover {
	text-decoration: underline;
}

.load-more-posts-button {
	margin: 10px 0 0 0;
	border: solid 1px #ccc;
	background: #eee;
	color: #999;
	text-align: center;
	padding: 4px;
	cursor: pointer;
}
.load-more-posts-button:hover {
	background: #ddd;
	color: #333;
}

/* user post comments */
.post-comments-list {
	margin: 8px 0 0 0;
	-x-background: #eee;
	-x-border: solid 1px #aaa;
}

.user-post-comment {
	padding: 5px 5px 5px 40px ;
	position: relative;
	border-top: solid 1px #bbb;
}
.post-comments-list .user-post-comment:first-child {
	-x-border-top: solid 1px #bbb;
}
.comment-author img {
	position: absolute;
	top: 5px;
	left: 5px;
}

.user-post-comment .comment-text{
	margin: 5px 0;
}
.user-post-comment .comment-date{
	color: #999;
}
.user-comment-entry .add-comment-text {
	width: 300px;
	height: 40px;
	font-family: Arial;
	font-size: 11px;
	resize: none;
}