@model Didache.Course

<h1>@Model.CourseCode @Model.Section</h1>

<ul id="course-menu">
	<li><a href="/admin/courses/courseeditor/@Model.CourseID"><span>Units &amp; Tasks</span></a></li>
	<li><a href="/admin/courses/files/@Model.CourseID"><span>Files</span></a></li>
	<li><a href="/admin/courses/usergroups/@Model.CourseID"><span>Users</span></a></li>
	<li><a href="/admin/courses/grading/@Model.CourseID"><span>Grading</span></a></li>
</ul>