@model List<UserRelationship>
@{
	ViewBag.Title = Didache.Resources.labels.submenu_community_home;
}


<div class="page-narrow">
	<div class="main-column">
		<div class="page-header">
			<h2>DTS Community</h2>
			<h3>Yes, we used the word community!</h3>
	
		</div>

		<p>The DTS Community page is designed to help you easily find DTS students, staff, faculty, and alumni
			so you can interact with them off this site. Here's a few things you should know: 
		</p>

		<ul>
			<li>This is not a full-fledged social network. 
				You can find people in the DTS network, but we will not be building many Facebook like features like private messaging</li>
			<li>You can create a list of "Classmates" (think "Friends" on Facebook or "Followers" on Twitter) to help you 
				quickly find people.</li>
			<li>You can also use this list of "Classmates" to determine who can access your contact information. 
				Each piece of your profile can be set to "All DTS", "Classmates Only" or "Private"</li>
		</ul>


	</div><!-- /.main-column -->

	<div class="sub-column">
		
	</div>

</div><!-- /.page-wide -->