@{
    ViewBag.Title = "Help";
}

<div class="page-wide">
	
	<div class="page-header">
		<h2>Help</h2>
	</div>

	<div class="full-column">
			
		<p>If you're experiencing problems with the website, 			please use this form and DTS tech support will get back with you as soon as possible.</p>		<p>If you're having a login problem, please use the <a href="/account/resetpassword">reset password</a> link to reset your password</p>		<p>If you have a question about an assignment, please contact your professor or facilitator.</p>		<table>			<tr>				<th>Name</th>				<td>					<input type="text" name="				</td>			</tr>				</table>

	</div>


</div>