@model HomeViewModel

@{
	ViewBag.Title = "DTS Online Ed";
    
}


<div class="page-narrow">
	<div class="main-column">

	
	@if (Users.GetLoggedInUser() != null) {


	 foreach (Announcement announcement in Model.Announcements) {
		<div class="message-warning">
			<strong>@announcement.StartDate.ToString("MMMM d, yyyy")</strong> - @Html.Raw(announcement.Text)
		</div>	  
	 }
	 
	 @Html.Partial("_DynamicUserPosts", new PostListViewOptions() { PostListType = PostListType.Public, KeyID = 0 });
	 
	
 } else {
	  
		<h2>Welcome</h2>
	
		<p>This is Dallas Theological Seminary's online education portal. Feel free to check out <a href="http://www.dts.edu/onlineeducation/">some classes</a>.</p>
	
		<h3>Take a Tour</h3>
	 
		<p>If you'd like to know more about how DTS's online education system works, please click on the video below</p>
	 
		<a href="/tour"><img src="https://dtsoe.s3.amazonaws.com/preview/dts-oe-preview-20110722.png" width="100%" /></a>
 }
	</div>

	<div class="sub-column">
	
		@Html.Partial("_HomeSideBar")

	</div>


</div>