@{
    ViewBag.Title = "Resources";
}

<style>
ul {
	margin: 10px 0 10px 20px;
	list-style-type: square;
}
ul li {
	margin: 0 0 0 10px;
	padding: 2px;
	
}
</style>

<div class="page-wide">
	
	<div class="full-column">

		<div class="page-header">
			<h1>@Didache.Resources.labels.tabs_resources</h1>
		</div>

		<h3>Research Resources</h3>
	
		<p>The DTS library web site provides many resources to aid in your research as well as some suggestions for alternative bibliographical software packages.</p>
	
		<ul>
			<li><a href="http://library.dts.edu/Pages/RM/Write/turabian_tp_paper.dot">DTS Turabian Template</a> (Microsoft Word Template)</li>
			<li><a href="http://library.dts.edu/Pages/RM" target="_blank">DTS Library Academic Research</a></li>
			<li><a href="http://library.dts.edu/Pages/RM/Write" target="_blank">DTS Library Academic Writing</a></li>
			<li><a href="http://library.dts.edu/Pages/RM/Write/citation_management.shtml" target="_blank">Alternatives to Endnote</a></li>
		</ul>

		<h3>Browsers</h3>

		<ul>				
			<li><a href="http://www.google.com/chrome">Google Chrome</a> (PC, Mac)</li>
			<li><a href="http://www.apple.com/safari">Safari</a> (PC, Mac)</li>
			<li><a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">Internet Explorer</a> (PC only)</li>	
			<li><a href="http://www.getfirefox.com/">Firefox</a> (PC, Mac)</li>
			<li><a href="http://www.opera.com/">Opera</a> (PC, Mac)</li>			
		</ul>


		<h3>Converting to PDF</h3>
	
		<h4>Mac Users</h4>

		<ul>
			<li>Choose File > Print.</li>
			<li>Choose "Save as PDF" from the PDF pop-up menu, and then choose a name and location for the PDF file.</li>
			<li>Edit the values in the Title, Author, Subject, and Keywords fields.</li>
		</ul>
		
		<h4>PC Users</h4>
		
		<ul>
			<li>Office 2010 - you can save to PDF by clicking File, then Save As, and then selecting PDF from the drop down list.</li>
			<li>Office 2007 - requires a plugin available here: <a href="http://www.microsoft.com/download/en/details.aspx?id=7">PDF Converter for Microsoft Office 2007</a></li>
			<li>Office 2003 or older - you should upgrade to a newer version of Office, but you can also use the following plugins: 
				<a href="http://www.primopdf.com/">Primo PDF</a>, <a href="http://www.dopdf.com/">DoPDF</a>, or this <a href="http://www.freepdfconvert.com/">online converter</a></li>

		</ul>



	</div>

</div>