@{
    ViewBag.Title = "Tour";
}

@section head {
<script src="http://mediaelementjs.com/js/mejs-2.1.9/mediaelement-and-player.js"></script>
<link href="http://mediaelementjs.com/js/mejs-2.1.9/mediaelementplayer.css" rel="stylesheet" />
}


<div class="page-wide">
	
	<div class="page-header">
		<h2>Tour</h2>
	</div>

	<div class="full-column">
	
		<!--
		<video width="1024" height="790" controls="controls">
		
		</video>
		-->

		<video width="770" height="594" id="player2" 
				poster="https://dtsoe.s3.amazonaws.com/preview/dts-oe-preview-20110722.png" 
				controls="controls" preload="none">

			<!-- MP4 source must come first for iOS -->
			<source type="video/mp4" src="https://dtsoe.s3.amazonaws.com/preview/dts-oe-preview-20110722.mp4" />

			<!-- WebM for Firefox 4 and Opera -->
			<source type="video/webm" src="https://dtsoe.s3.amazonaws.com/preview/dts-oe-preview-20110722.webm" />

		</video>


	</div>


</div>

<script>
	jQuery(document).ready(function ($) {
		$('video').mediaelementplayer();
	});

</script>



