@model Didache.UserTaskData


@if (Model.TaskCompletionStatus == TaskCompletionStatus.NotStarted) {
	
	<form method="post" enctype="multipart/form-data" action="/courses/api/taskfile/@Model.TaskID">
		<textarea name="usercomment"></textarea>
		<br />
		<input type="file" name="StudentFile" />
		<br />
		<input type="submit" value="@Resources.labels.studentschedule_submitfordiscussion" class="task-submit" />
	</form>

	<!--
	if (Model.Task.IsSkippable) {
		<input type="submit" name="TaskStatus" value="Skipped"  />
	}
	-->	

}
