<connectionStrings>
	<add name="didache"
		 connectionString="server=local; database=DTS_webdata; uid=dts; pwd=dts; MultipleActiveResultSets=true"
		 providerName="System.Data.SqlClient" />
	<add name="didache2"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|DTS.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
</connectionStrings>