<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>	
	
	
	<appSettings>
		<add key="ClientValidationEnabled" value="true"/> 
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="CourseFilesLocation" value="d:\git\didache\files\coursefiles\" />
		<add key="StudentFilesLocation" value="d:\git\didache\files\studentfiles\" />
		<add key="GradedFilesLocation" value="d:\git\didache\files\gradedfiles\" />
		<add key="PlayerFilesLocation" value="d:\git\didache\didache.web\supportfiles" />

		<add key="aspnet:UseLegacyEncryption" value="true" />
		<!-- for new MS patch -->
	</appSettings>

	<connectionStrings configSource="ConnectionStrings.config"/>

	
	<system.web.webPages.razor>
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="Didache" />
				<add namespace="Didache.Resources"/>
			</namespaces>
		</pages>
	</system.web.webPages.razor>
    
  <system.web>

	  <customErrors mode="Off"/>
	  
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

	<!--
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
	-->

	  <!-- settings compatible with 2.0 -->
	  <machineKey
		  validationKey="C55520130F363EF5968F73C4CACEAFA4A01BEAE02AE02EE9576F1C768D2A69A4DCC1A80A92025D393214DC88939C94FC74618113145C73A3C0FA0A485DA17DFB"
		  decryptionKey="83C88E3E6EDCE4F95077BEA77CF34ECCCE9315A9CAED870CC5896C4F90E97B17"
		  validation="SHA1"
		  decryption="AES" />
		
	  <authentication mode="Forms">
		  <forms loginUrl="~/account/login"
			  name=".dtsEDU"
			  protection="All"
			  slidingExpiration="true"
			  timeout="20160"
			  
			  ticketCompatibilityMode="Framework20"
			  enableCrossAppRedirects="true" />
	  </authentication>
	  <!--
	  domain=".dts.edu"
	  -->

	  <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
		  <providers>
			  <clear />			 
			  <add name="SqlProvider"
				  type="System.Web.Security.SqlMembershipProvider"
				  connectionStringName="didache"
				  applicationName="AuthenticationServer"
				  enablePasswordRetrieval="false"
				  enablePasswordReset="true"
				  requiresQuestionAndAnswer="false"
				  requiresUniqueEmail="false"
				  minRequiredNonalphanumericCharacters="0"
				  minRequiredPasswordLength="6"
				  passwordFormat="Hashed" />
		  </providers>
	  </membership>
	
	  <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".dtsRoles">
		  <providers>
			  <clear />
			  <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider"
				  connectionStringName="didache"
				  applicationName="AuthenticationServer" />

		  </providers>
	  </roleManager>	  

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
		<add namespace="Didache"/>
		<add namespace="Didache.Resources"/>
	  </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
