@{
    ViewBag.Title = "Index";
}


<div class="page-wide">
	<div class="full-column">
		<div class="page-head">
			<h2>Admin</h2>
		</div>

		<ul>
			<li><a href="/admin/sessions">Sessions</a></li>
			<li><a href="/admin/courses">Courses</a></li>
			<li><a href="/admin/users">Users</a></li>
			<li><a href="/admin/announcemnts">Announcements</a></li>
		</ul>	
	</div>

</div>





