@{
    ViewBag.Title = "Index";
}


<div class="page-narrow">
	<div class="main-column">

		<h2>Admin</h2>

		<ul>
			<li><a href="/admin/sessions">Sessions</a></li>
			<li><a href="/admin/coureses">Courses</a></li>
			<li><a href="/admin/users">Users</a></li>
		</ul>	
	</div>

</div>





