@{
    ViewBag.Title = "ChangePasswordSuccess";
}


<div class="page-wide">
	<div class="full-column">
		<div class="page-header">
			<h2>@Didache.Resources.labels.profile_changepassword</h2>
		</div>

		<p>@Didache.Resources.labels.changepassword_success</p>

	</div>
</div>
